html,
body {
  margin: 0;
  background-color: #5D5F60;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: lighter;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
}

.dialog-box {
  background-color: #FBFBFB;
  color: #909090;
  border: 2px solid rgba(132, 132, 132, 0.59);
  min-width: 25%;
  max-width: 75%;
  margin: 20px auto;
  padding: 20px;
}
.dialog-box-err {
  border: 2px solid rgba(209, 109, 109, 0.59);
}

.accented {
  color: #E5A228;
}

/* Commonly reused styles */
.box {
  background-color: #FBFBFB;
  color: #909090;
  border: 2px solid rgba(132, 132, 132, 0.59);
  min-width: 25%;
  max-width: 75%;
  margin: 20px auto;
  padding: 20px;
}
.hidden {
  display: none;
}

/* Grouped textboxes */
.ui-textbox {
  display: block;
  border: 1px solid #adadad;
}
.ui-textbox:focus:not(.ui-textbox-error) {
  background-color: #d3edff;
  
}
.ui-textbox-error {
  background-color: #ffe6e8;
}
.ui-textbox-group .ui-textbox {
 margin: auto;
}
.ui-textbox-group .ui-textbox:not(:first-child) {
  border-top: none;
}
.ui-textbox-group .ui-textbox:first-of-type {
  border-radius: 4px 4px 0 0;
}
.ui-textbox-group .ui-textbox:last-of-type {
  border-radius: 0 0 4px 4px;
}

/* Overrides for the stock jQuery UI styles */
.ui-widget {
  font: inherit;
}
.ui-button {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 1px;
  color: #444;
  margin: 0px 5px;
  min-height: 29px;
  min-width: 65px;
  -webkit-user-select: none;
  padding: 8px 13px;
  background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
  text-shadow: 0 1px 0 rgb(240, 240, 240);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
}
.ui-button-submit {
  color: #fff;
  background-image: -webkit-linear-gradient(#5d9aff, #5d9aff 38%, #5891f0);
  border: 1px solid rgba(45, 102, 195, 1);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), inset 0 1px 2px rgba(255, 255, 255, 0.2);
}
.ui-state-error {
  padding: 0.7em;
  margin: 10px 0;
  border: 5px solid rgba(90, 90, 90, 0.5);
}

.ui-link-button {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 1px;
  color: inherit;
  margin: 0px 5px;
  min-height: 29px;
  min-width: 65px;
  -webkit-user-select: none;
  padding: 8px 26px;
  background: none;
  text-shadow: none;
  box-shadow: none;
  font-size: 0.7em;
}
.ui-link-button:hover {
  border-color: rgba(0, 0, 0, 0.5);
}
.ui-link-button:active {
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
}

/* View Styles */
.view {
  color: #909090;
}
.view h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  margin-left: 5px;
  margin-top: 0.67em;
}
.view h1 {
  font-size: 3.6em;
  font-weight: lighter;
}
.view h2 {
  font-size: 1.6em;
}
.view a {
  color: #446998;
}
.view a:hover {
  color: #5d8ece;
}
.view .view-content {
  max-width: 80%;
  margin: auto;
}
/* View section head */
.view .section-head {
  position: relative;
}
.view .section-head > * {
  display: inline-block;
}
.view .section-head h1 {
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
}
.view .section-head {
  vertical-align: middle;
  border-bottom: 1px solid #909090;
}


.sidebar {
  z-index: 1;
  position: absolute;
  top: 55px;
  bottom: 0;
  width: 30%;
  color: #DADADA;
  overflow-y: scroll;
  box-shadow: inset -4px 4px 5px #141414;
}
.sidebar a {
  font-weight: normal;
  color: #E5A228;
}
