/* CSS declarations go here */


#main-wrapper {
  position: absolute;
  background-color: #DADADA;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: none;
  overflow: hidden;
  z-index: 3;
}

#shadow {
  position: absolute;
  left: 0;
  right: 0;
  top: 55px;
  height: 6px;
  z-index: 4;
  background-image: linear-gradient(to bottom, #333, transparent);
  background-repeat: repeat-x;
}