
.standing-item {
  min-height: 66px;
  border-width: 1px 1px 1px 5px;

  &>div {
    margin-left: 74px;
    &>div:first-child { line-height: 26px; }
    &>div:last-child { line-height: 28px; }
  }
}

#char-sheet {

  .prop-name { line-height: 20px; }
  .prop-value { line-height: 20px; }

  .employer-name {
    font-weight: bold;
    line-height: 24px;
  }
  .employer-time { line-height: 24px; }

  .standing-name { font-weight: bold; }


}
