#char-sheet {

  .prop-name {
    line-height: 20px;
    margin-bottom: 3px;
    }
  .prop-value {
    position: relative;
    line-height: 24px;
    vertical-align: bottom;
  }

  .employer-name {
    font-weight: bold;
    line-height: 24px;
  }
  .employer-time { line-height: 24px; }

  .standing-name { font-weight: bold; }


}
