/* Colors */
@color-background:  #F0F0F0;
@color-background-dark: #5D5F60;
@color-foreground:  #666;
@color-foreground-dark: #DADADA;
//@color-accent:      #E5A228;
@color-accent:      lighten(@color-primary, 5%);
@color-border:      #ADADAD;
@color-border-dark: #666666;
@color-focus:       #D3EDFF;
@color-error:       #FFE6E8;
@color-btn-fg:      #444444;

@color-primary:         #428bca;
@color-success:         #5cb85c;
@color-info:            #5bc0de;
@color-warning:         #f0ad4e;
@color-danger:          #d9534f;