/* Colors */
@color-background:  #F0F0F0;
@color-background-dark: #5D5F60;
@color-foreground:  #666;
@color-foreground-dark: #DADADA;
@color-accent:      #E5A228;
@color-border:      #ADADAD;
@color-border-dark: #666666;
@color-focus:       #D3EDFF;
@color-error:       #FFE6E8;
@color-btn-fg:      #444444;

@color-yes:         #76e285;
@color-maybe:       #edc67c;
@color-no:          #ff93a2;