/* Platform boundary definitions and platform-specific stuff */

/* Tablets and up */
@hi-res-min: 481px;

/* High resolution phones */
@mobile-min: 361px;
@mobile-max: 480px;

/* Low resolution phones & iPhones */
@lo-res-max: 360px;