
/* Property List */
@prop-list-icon-size: 48px;

.prop-list {
  .list-group-item {
    min-height: @prop-list-icon-size + 20px;
    & > div { line-height: (@prop-list-icon-size / 2); }

    /* Contains an icon */
    &.has-icon {
      & > img {
        height: @prop-list-icon-size;
        width: @prop-list-icon-size;
      }
      & > div { margin-left: 15px + @prop-list-icon-size; }
    }

    /* Nested progress bar */
    .progress {
      line-height: (@prop-list-icon-size / 2);
      height: (@prop-list-icon-size / 2);
      max-height: 18px;
      margin-bottom: 0;
      font-size: 12px;
    }
  }
}

/* Inline small button*/
.btn.btn-xs.btn-inline {
  margin-top: -1px;
  margin-bottom: -1px;
  min-width: 100px;
}
.panel-heading .btn.btn-xs.btn-inline { margin-right: 15px; }

/* Emphasis Box */
.em-box {
  padding: 15px;
  border: 1px solid @panel-default-border;
  border-left: 5px solid black;


  &.em-box-primary { border-left-color: @brand-primary; }
  &.em-box-success { border-left-color: @brand-success; }
  &.em-box-info { border-left-color: @brand-info; }
  &.em-box-warning { border-left-color: @brand-warning; }
  &.em-box-danger { border-left-color: @brand-danger; }
}

/* Tile List */
@tile-list-icon-size: 64px;
.tile-list {
  .row();
  position: relative;

  ul&, ol& {
    list-style: none;
    padding: 0;
  }

  /* Tile list items */
  & > .tile-list-item, & > li {

    &:hover { z-index: 1; }

    & > div {
      .panel();
      .panel-default();
      min-height: @tile-list-icon-size + 2px;
      border-width: 1px 1px 1px 5px;
      padding-right: 8px;
    }
    &.has-icon > div > img {
      width: @tile-list-icon-size;
      height: @tile-list-icon-size;
      float: left;
      & + div {
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: @tile-list-icon-size + 15px;
      }
    }

    /* Colors */
    @lighten-ratio: 10%;
    &.default > div, & > div {
      border-color: lighten(@gray-light, @lighten-ratio);
      &.hoverable:hover {
        border-left-color: @gray-light;
        background: mix(white, @brand-primary, 95%);
      }
      .accented { color: @gray-light; }
    }
    &.primary > div {
      border-color: lighten(@brand-primary, @lighten-ratio);
      &.hoverable:hover { border-left-color: @brand-primary; }
      .accented { color: @brand-primary; }
    }
    &.info > div {
      border-color: lighten(@brand-info, @lighten-ratio);
      &.hoverable:hover { border-left-color: @brand-info; }
      .accented { color: @brand-info; }
    }
    &.success > div {
      border-color: lighten(@brand-success, @lighten-ratio);
      &.hoverable:hover { border-left-color: @brand-success; }
      .accented { color: @brand-success; }
    }
    &.warning > div {
      border-color: lighten(@brand-warning, @lighten-ratio);
      &.hoverable:hover { border-left-color: @brand-warning; }
      .accented { color: @brand-warning; }
    }
    &.danger > div {
      border-color: lighten(@brand-danger, @lighten-ratio);
      &.hoverable:hover { border-left-color: @brand-danger; }
      .accented { color: @brand-danger; }
    }

    /* Line heights */
    div.caption { line-height: 24px; }
    div.bold { font-weight: bold; }

    /* Extra-small device handling */
    @media (max-width: @screen-xs-max) {
      & > div {
        border-top-color: lighten(@gray-light, @lighten-ratio)!important;
        border-right-color: lighten(@gray-light, @lighten-ratio)!important;
        border-bottom-color: lighten(@gray-light, @lighten-ratio)!important;
        margin-bottom: -1px;
      }
    }
    @media (min-width: @screen-sm-min) {
      &.default > div.hoverable:hover,
      & > div.hoverable:hover { border-color: @gray-light; }
      &.primary > div.hoverable:hover { border-color: @brand-primary; }
      &.info > div.hoverable:hover { border-color: @brand-info; }
      &.success > div.hoverable:hover { border-color: @brand-success; }
      &.warning > div.hoverable:hover { border-color: @brand-warning; }
      &.danger > div.hoverable:hover { border-color: @brand-danger; }

    }
  }

  /* 'hoverable' llist items */
  &.hoverable > .tile-list-item, &.hoverable > li {
    &.default:hover > div { border-left-color: @gray-lighter; }
    &.primary:hover > div { border-left-color: @brand-primary; }
    &.info:hover > div { border-left-color: @brand-info; }
    &.success:hover > div { border-left-color: @brand-success; }
    &.warning:hover > div { border-left-color: @brand-warning; }
    &.danger:hover > div { border-left-color: @brand-danger; }
  }
}
