
/* Property List */
@prop-list-icon-size: 48px;

.prop-list {
  .list-group-item {
    min-height: @prop-list-icon-size + 20px;
    & > div { line-height: (@prop-list-icon-size / 2); }

    /* Contains an icon */
    &.has-icon {
      & > img {
        height: @prop-list-icon-size;
        width: @prop-list-icon-size;
      }
      & > div { margin-left: 15px + @prop-list-icon-size; }
    }

    /* Nested progress bar */
    .progress {
      line-height: (@prop-list-icon-size / 2);
      height: (@prop-list-icon-size / 2);
      max-height: 18px;
      margin-bottom: 0;
      font-size: 12px;
    }
  }
}

/* Inline small button*/
.btn.btn-xs.btn-inline {
  margin-top: -1px;
  margin-bottom: -1px;
  min-width: 100px;
}
.panel-heading .btn.btn-xs.btn-inline { margin-right: 15px; }

/* Emphasis Box */
.em-box {
  padding: 15px;
  border: 1px solid @panel-default-border;
  border-left: 5px solid black;


  &.em-box-primary { border-left-color: @brand-primary; }
  &.em-box-success { border-left-color: @brand-success; }
  &.em-box-info { border-left-color: @brand-info; }
  &.em-box-warning { border-left-color: @brand-warning; }
  &.em-box-danger { border-left-color: @brand-danger; }
}

/* Tile List */
@tile-list-icon-size: 64px;
.tile-list {
  .row();
  ul&, ol& {
    list-style: none;
    padding: 0;
  }

  /* Tile list items */
  & > .tile-list-item, & > li {
    & > div {
      .panel();
      .panel-default();
      min-height: @tile-list-icon-size + 2px;
      border-width: 1px 1px 1px 5px;
      padding-right: 8px;
    }
    &.has-icon > div > img {
      width: @tile-list-icon-size;
      height: @tile-list-icon-size;
      float: left;
      & + div {
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: @tile-list-icon-size + 15px;
      }
    }

    /* Colors */
    @lighten-ratio: 10%;
    &.default > div {
      .panel-default();
      .accented { color: @gray-light; }
    }
    &.primary > div {
      border-color: lighten(@brand-primary, @lighten-ratio);
      .accented { color: @brand-primary; }
    }
    &.info > div {
      border-color: lighten(@brand-info, @lighten-ratio);
      .accented { color: @brand-info; }
    }
    &.success > div {
      border-color: lighten(@brand-success, @lighten-ratio);
      .accented { color: @brand-success; }
    }
    &.warning > div {
      border-color: lighten(@brand-warning, @lighten-ratio);
      .accented { color: @brand-warning; }
    }
    &.danger > div {
      border-color: lighten(@brand-danger, @lighten-ratio);
      .accented { color: @brand-danger; }
    }

    /* Extra-small device handling */
    @media (max-width: @screen-xs-max) {
      & > div {
        border-top: 1px solid @gray-lighter;
        border-right: 1px solid @gray-lighter!important;
        border-bottom: none;
        margin-bottom: 0;
        &:first-of-type { border-top: 1px solid @gray-lighter; }
      }
    }
  }

}
