
#character {

  .info {
    h1, h3 { text-align: center; }
    h1 { font-size: @font-size-h3; }
    h3 { font-size: @font-size-h5; }

    .table { margin-top: 5px; }

    @media (min-width: @screen-sm-min) {
      h1 { font-size: @font-size-h1; }
      h3 { font-size: @font-size-h3; }
      h1, h3 { text-align: left; }
    }
  }
}

#ch-skills {

  .skill-level {
    margin: 4px 0;
    float: right;
  }

}
