@prop-list-icon-size: 48px;

#character {
  .list-group-item {
    img {
      height: @prop-list-icon-size;
      width: @prop-list-icon-size;
    }
    & > div {
      line-height: (@prop-list-icon-size / 2);
      margin-left: 15px + @prop-list-icon-size;
    }

    .progress {
      line-height: (@prop-list-icon-size / 2);
      height: (@prop-list-icon-size / 2);
      max-height: 18px;
      margin-bottom: 0;
      font-size: 12px;
    }
  }

  .info {
    h1, h3 { text-align: center; }
    h1 { font-size: @font-size-h3; }
    h3 { font-size: @font-size-h5; }

    .table { margin-top: 5px; }

    @media (min-width: @screen-sm-min) {
      h1 { font-size: @font-size-h1; }
      h3 { font-size: @font-size-h3; }
      h1, h3 { text-align: left; }
    }
  }
}


#character {


}

#ch-skills {



}

@import "character/char-sheet.import.less";
@import "character/char-skills.import.less";
