@import "imports/colors";
@import "imports/mixin";
@import "imports/platforms";


/* Header Bar */
header {
  
  &.scroll {
  }
  
  .navbar {
    .abs-pos(0;0);
    height: 5.5rem;
    
    .navlink {
      display: inline-block;
      width: 5.5rem;
      height: 5.5rem;
      cursor: pointer;
      text-align: center;
      font-size: 2.2rem;
      &:hover {
        color: @color-accent;
        background-color: fadeout(@color-background-dark, 70%);
      }
      &:active {
        color: darken(@color-accent, 10%);
      }
    }
  }
  
  /*
  .navlink {
    font-size: 2.2rem;
    &:hover {
      color: @color-accent;
      background-color: fadeout(@color-background-dark, 70%);
    }
    &:active {
      color: darken(@color-accent, 10%);
    }
  }
  */
  
  #veldspar {
    cursor: default;
    font-size: 3.6rem;
    text-align: center;
  }
  /*
  #menu {
    .abs-pos(0;0);
    width: 5.5rem;
    height: 5.5rem;
    cursor: pointer;
    text-align: center;
  }
  */
}

/* Credits */
#credits {
  * { text-align: left; }
  
  padding: 10%;
  padding-top: 1.5rem;
  
  
  h2 { margin-top: 3.6rem; }
  
  small, .copyright { 
    font-size: 1.6rem; 
    color: lighten(@color-foreground, 10%);
  }
  small { margin-left: 1rem; }
  .license * { font-size: 1rem; }
}


/* reactive overrides */
/* Large Screen Devices */
@media all and (min-width: @hi-res-min) {
  #credits {
    small, .copyright {
      color: darken(@color-foreground-dark, 20%);
    }
  }
}