/*!
 *
 */

@import "imports/mixin";
@import "imports/colors";
@import "imports/platforms";

@header-height: 5.5rem;
@sideview-width: 45rem;

@gaia-offset: 5rem;

/* Sizing Fix */
* {
  .vendors(box-sizing; border-box);
}

/* Change Min-Size */
html, body {
  min-width: 320px;
  overflow-x: hidden;
}

/* Disable default margin */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-x: hidden; // Disable iphone scroll
  
  &.show-left {
    #gaia {
      .abs-pos(30%;0;-30%;0);
    }
    #left {
      .abs-pos(0;0;30%;0);
    }
  }
}

/* Content area */
.stage {
  .abs-pos-fill;
  overflow-x: hidden;
  overflow-y: scroll;
  .content { margin: auto; }
}

/* 'Camera' or 'Viewport' */
#gaia {
  .abs-pos-fill;
  width: 100%;
  overflow: hidden;
  #main-stage { padding-top: @header-height; }
  #overlay { z-index: 65536;  }
}

/* Left Sideview */
#left {
  overflow: hidden;
  z-index: 65537;
  padding-top: @gaia-offset;
  &.show-left { .abs-pos(0;0;auto;0); }
  .stage { 
    -ms-overflow-style: none;
  }
}

/* Header */
header {
  .abs-pos(0; 0; 0);
  z-index: 65535;
  height: @header-height;
}

/* Media Overrides */
/* Common Monitor */
@media all and (min-width: @hi-res-min) {
  /* 'Camera' or 'Viewport' */
  #gaia {
        z-index: 65538;
    &.show-left {
      .abs-pos(@sideview-width;0;auto;0);
    }
  }

  /* Left Sideview */
  #left {
    .abs-pos(-@sideview-width;0;auto;0);
    width: @sideview-width;
    &.show-left { .abs-pos(0;0;auto;0); }
  }

}
/* HD Smartphone */
@media all and (min-width: @mobile-min) and (max-width: @mobile-max) {
  /* 'Camera' or 'Viewport' */
  #gaia {
    border-right: 1px solid lighten(@color-foreground, 20%);
    
    &.show-left {
      .abs-pos(50%;0;auto;0);
    }
  }

  /* Left Sideview */
  #left {
    .abs-pos(-100%;0;auto;0);
    width: 90%;
    &.show-left { .abs-pos(0;0;auto;0); }
  }
}
/* More constrained smartphones */
@media all and (max-width: @lo-res-max) {
    /* 'Camera' or 'Viewport' */
  #gaia {
    border-right: 1px solid lighten(@color-foreground, 20%);
    &.show-left {
      .abs-pos(50%;0;auto;0);
    }
    
  }

  /* Left Sideview */
  #left {
    .abs-pos(-100%;0;auto;0);
    width: 90%;
    &.show-left { .abs-pos(0;0;auto;0); }
  }
}