#add-api-key {
  overflow-x: hidden;
}
#add-api-key h1 {
  margin-bottom: 10px;
  margin-left: 5px;
}
#add-api-key .step {
  width: 80%;
  position: absolute;
  margin: 0 10%;
}
#add-api-key #step-one {
  top: 0;
  left: 0;
}
#add-api-key #step-two {
  top: 0;
  left: 100%;
}
#add-api-key .ui-textbox {
  font-size: 1.0em;
  font-weight: lighter;
  height: 1.8em;
  padding: 3px 10px;
  width: 92%;
}

#add-api-key .button-box {
  margin: auto;
  text-align: center;
}
#add-api-key .ui-button {
  width: 45%;
  margin-top: 1em;
}
#add-api-key #wait-wrapper {
  text-align: center;
  margin-top: 5em;
}
#add-api-key #loading-indicator {
  font-size: 128px;
}
#add-api-key p {
  font-size: 0.8em;
  text-align: justify;
}

#add-api-key .char-list-item {
  position: relative;
  margin: 10px 0;
  max-width: none;
  padding: 0;
  height: 64px;
  border: none;
  cursor: pointer;
}
#add-api-key .char-list-item .portrait {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 64px;
  float: left;
  font-size: 48px;
  text-align: center;
  color: white;
}
#add-api-key .char-list-item .portrait > div{
  background-color: rgba(0, 0, 0, 0.3);
}
#add-api-key .char-list-item .name-wrapper {
  margin-left: 70px;
  margin-top: 3px;
}
#add-api-key .char-list-item .name-wrapper span {
  display: block;
}
#add-api-key .char-list-item .char-name {
  font-size: 1.0em;
}
#add-api-key .char-list-item .corp-name {
  font-size: 0.8em;
}
#add-api-key #error {
  display: none;
  max-width: none;
}
#add-api-key .char-sel {
  color: #98ff98;
}
