#login {
  text-align: center;
}
#login .motd {
  font-size: 2.0em;
}
#login #login-box {
  width: 50%;
  margin: auto;
}
#login #login-box .ui-textbox {
  font-size: 1.3em;
  font-weight: lighter;
  height: 1.8em;
  padding: 3px 10px;
  width: 50%;
  margin: auto;
}
#login #shaky {
  position: relative;
}
#login #forgot {
  text-align: center;
  color: #909090;
  display: none;
}
#login .ui-button {
  margin-top: 2em;
  width: 20%;
}
#login #footer {
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.8em;
}