

#user-home .section-head .ui-link-button {
  float: right;
  font-size: 0.9em;
  position: absolute;
  right: 5px;
  bottom: 0.9em;
}

#user-home .character-grid {
  display: inline-block;
  min-height: 198px;
}

#user-home .character-card {
  
  position: relative;
  display: inline-block;
  background-color: #FBFBFB;
  border: 4px solid #FBFBFB;
  width: 132px;
  height: 132px;
  margin: 8px;
  
  cursor: pointer;
  vertical-align: middle;
}
#user-home .character-card:hover:not(.new-character-card) {
  border: 4px solid rgba(59, 152, 244, 0.59);
  margin: 8px;
}

#user-home .character-card .portrait {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#user-home .character-card .info {
  position: absolute;
  /*height: 36px;*/
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: #FFF;
}

#user-home .character-card h2 {
  margin: 0;
}

#user-home .character-card .char-name {
  margin: 2px;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  line-height: 1em;
  cursor: pointer;
}

#user-home .character-card .ui-widget-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 96px;
  color: white;
  text-align: center;
  opacity: 0.7;
}

#user-home .new-character-card {
  background-color: transparent;
  text-align: center;
  border: 3px dashed #909090;
}

#user-home .new-character-card:hover {
  border-color: #707070;
  color: #707070;
}

#user-home .new-character-card .portrait {
  font-size: 90px;
}

#user-home .char-sel {
  color: #98ff98;
}