<!-- SH-SHT: Character Sheet -->
<template name="char-sheet">
  {{#contentFor "nav-menu"}}
    {{> ch_nav}}
  {{/contentFor}}

  {{#Layout template="app-view" data=. }}
    <!-- Page Header -->
    {{#contentFor "view-header"}}
      <li class="pill-back">
        <a href="{{pathFor "home"}}">
          <i class="icon ion-ios7-arrow-back"></i> {{i18n "nav.back"}}
        </a>
      </li>

      <li class="active"><a href="#ch-sht-basic" data-toggle="pill">{{i18n "char.nav.basic-info"}}</a></li>
      <li><a href="#ch-sht-employment" data-toggle="pill">{{i18n "char.nav.employment"}}</a></li>
      <li><a href="#ch-sht-standings" data-toggle="pill">{{i18n "char.nav.standings"}}</a></li>

      <li class="pull-right">
        <a id="ch-refresh">
          <i class="icon ion-refresh"></i>
          <span class="hidden-xs"> {{i18n "nav.refresh"}}</span>
        </a>
      </li>
    {{/contentFor}}

    <!-- Page Content -->
    <div id="char-sheet">
      <div class="alert alert-danger hidden"></div>

      <div class="panel panel-default">
        <div class="panel-body container-fluid">
          <!-- Character Portrait -->
          <div class="portrait thumbnail col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-0 col-md-2">
            <img alt="Character Portrait" src="{{portrait 256 "Character"}}">
          </div>
          <!-- Character Information -->
          <div class="info col-xs-12 col-sm-10 col-md-10 container-fluid">
            <h1 class="no-margin text-nowrap">{{name}}</h1>
            <h3 class="no-margin text-light">{{corp/name}}</h3>
            <hr>
            <div class="row">
              <b class="col-xs-4 col-sm-2 text-right">Gender</b>
              <span class="col-xs-8 col-sm-4 text-muted">{{gender}}</span>
              <b class="col-xs-4 col-sm-2 text-right">
                <span class="hidden-sm hidden-xs">Date of Birth</span>
                <span class="visible-sm visible-xs">DOB</span>
              </b>
              <span class="col-xs-8 col-sm-4 text-muted">{{dob}}</span>
              <b class="col-xs-4 col-sm-2 text-right">Wealth</b>
              <span class="col-xs-8 col-sm-4 text-muted">{{millionize balance 2}} ISK</span>
              <b class="col-xs-4 col-sm-2 text-right">
                <span class="hidden-sm hidden-xs">Skill Points</span>
                <span class="visible-sm visible-xs">SP</span>
              </b>
              <span class="col-xs-8 col-sm-4 text-muted">{{millionize skillPoints}} ({{skills/length}} Skills)</span>
              <b class="col-xs-4 col-sm-2 text-right">Bloodline</b>
              <span class="col-xs-8 col-sm-4 text-muted text-nowrap">{{race}}/{{bloodLine}}/{{ancestry}}</span>
              <b class="col-xs-4 col-sm-2 text-right">Clone</b>
              <span class="col-xs-8 col-sm-4 text-muted">{{clone/name}} ({{millionize clone/skillPoints}})</span>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-content">
        <div id="ch-sht-basic" class="tab-pane active fade in">
          <h2 class="text-muted text-light">{{i18n "char.basic.basic-info"}}</h2>
          <ul class="tile-list">
            <!-- Character Gender -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/svg/va_gender-{{lower gender}}.svg">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.gender"}}</div>
                  <div class="prop-value no-margin text-nowrap">{{gender}}</div>
                </div>
              </div>
            </li>
            <!-- Character Race -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/svg/va_faction-{{lower race}}.svg">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.race"}}</div>
                  <div class="prop-value no-margin text-nowrap">{{race}}</div>
                </div>
              </div>
            </li>
            <!-- Character Bloodline -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/svg/va_bloodline-{{lower bloodLine}}.svg">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.bloodline"}}</div>
                  <div class="prop-value no-margin text-nowrap">{{bloodLine}}</div>
                </div>
              </div>
            </li>
            <!-- Character Ancestry -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/svg/va_faction-concord.svg">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.ancestry"}}</div>
                  <div class="prop-value no-margin text-nowrap">{{ancestry}}</div>
                </div>
              </div>
            </li>
            <!-- Character Location -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/svg/va_location.svg">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.location"}}</div>
                  <div class="prop-value no-margin text-nowrap">{{location}}</div>
                </div>
              </div>
            </li>
            <!-- Character Ship -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/svg/va_ship-titan.svg">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.current-ship"}}</div>
                  <div class="prop-value no-margin text-nowrap">{{ship.name}} ({{ship.type.name}})</div>
                </div>
              </div>
            </li>
          </ul>
          <h2 class="text-muted text-light">{{i18n "char.basic.attributes"}}</h2>
          <ul class="tile-list">
            <!-- Perception -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/icons/attribute/perception-128.png">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.perception"}}</div>
                  <div class="prop-value no-margin text-nowrap h3">
                    {{../attributes.perception.value}}
                    {{#if ../attributes.perception.bonus}}
                      <span class="text-success">+ {{../attributes.perception.bonus}}</span>
                    {{/if}}
                  </div>
                </div>
              </div>
            </li>
            <!-- Memoty -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/icons/attribute/memory-128.png">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.memory"}}</div>
                  <div class="prop-value no-margin text-nowrap h3">
                    {{../attributes.memory.value}}
                    {{#if ../attributes.memory.bonus}}
                      <span class="text-success">+ {{../attributes.memory.bonus}}</span>
                    {{/if}}
                  </div>
                </div>
              </div>
            </li>
            <!-- Willpower -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/icons/attribute/willpower-128.png">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.willpower"}}</div>
                  <div class="prop-value no-margin text-nowrap h3">
                    {{../attributes.willpower.value}}
                    {{#if ../attributes.willpower.bonus}}
                      <span class="text-success">+ {{../attributes.willpower.bonus}}</span>
                    {{/if}}
                  </div>
                </div>
              </div>
            </li>
            <!-- Intelligence -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/icons/attribute/intelligence-128.png">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.intelligence"}}</div>
                  <div class="prop-value no-margin text-nowrap h3">
                    {{../attributes.intelligence.value}}
                    {{#if ../attributes.intelligence.bonus}}
                      <span class="text-success">+ {{../attributes.intelligence.bonus}}</span>
                    {{/if}}
                  </div>
                </div>
              </div>
            </li>
            <!-- Charisma -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/icons/attribute/charisma-128.png">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.charisma"}}</div>
                  <div class="prop-value no-margin text-nowrap h3">
                    {{../attributes.charisma.value}}
                    {{#if ../attributes.charisma.bonus}}
                      <span class="text-success">+ {{../attributes.charisma.bonus}}</span>
                    {{/if}}
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div id="ch-sht-employment" class="tab-pane fade">
          <h2 class="text-muted text-light">{{i18n "char.employment.employment-history"}}</h2>
          <ul class="tile-list">
            {{#each employmentHistory}}
              <li class="{{standingStyle}} has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div>
                  {{#with corp}}
                    <img alt="portrait" src="{{portrait 64 "Corporation"}}">
                  {{/with}}
                  <div>
                    <div class="employer-name no-margin text-nowrap">{{corp.name}}</div>
                    <div class="employer-time small no-margin text-muted">
                      joined {{timeInCorp.day}} days ago
                    </div>
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
        <div id="ch-sht-standings" class="tab-pane fade">
          <h2 class="text-muted text-light">{{i18n "char.standings.factions"}}</h2>
          <ul class="tile-list">
            <!-- Agent Entry -->
            {{#each factionStandings}}
              <li class="{{standingStyle}} has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div>
                  <img alt="portrait" src="{{portrait 64 "Alliance"}}">
                  <div>
                    <div class="standing-name no-margin text-nowrap">{{name}}</div>
                    <div class="standing-value h4 no-margin accented">{{standing}}</div>
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
          <h2 class="text-muted text-light">{{i18n "char.standings.corps"}}</h2>
          <ul class="tile-list">
            <!-- Agent Entry -->
            {{#each corpStandings}}
              <li class="{{standingStyle}} has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div>
                  <img alt="portrait" src="{{portrait 64 "Corporation"}}">
                  <div>
                    <div class="standing-name no-margin text-nowrap">{{name}}</div>
                    <div class="standing-value h4 no-margin accented">{{standing}}</div>
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
          <h2 class="text-muted text-light">{{i18n "char.standings.agents"}}</h2>
          <ul class="tile-list">
            <!-- Agent Entry -->
            {{#each agentStandings}}
              <li class="{{standingStyle}} has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div>
                  <img alt="portrait" src="{{portrait 64 "Character"}}">
                  <div>
                    <div class="standing-name no-margin text-nowrap">{{name}}</div>
                    <div class="standing-value h4 no-margin accented">{{standing}}</div>
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  {{/Layout}}
</template>
