<!-- SH-SHT: Character Sheet -->
<template name="char-sheet">
  {{#contentFor "nav-menu"}}
    {{> ch_nav}}
  {{/contentFor}}

  {{#Layout template="app-view" data=. }}
    <!-- Page Header -->
    {{#contentFor "view-header"}}
      <li class="pill-back">
        <a href="{{pathFor "home"}}">
          <i class="icon ion-ios7-arrow-back"></i> {{i18n "nav.back"}}
        </a>
      </li>

      <li class="active"><a href="#ch-sht-basic" data-toggle="pill">{{i18n "char.nav.basic-info"}}</a></li>
      <li><a href="#ch-sht-employment" data-toggle="pill">{{i18n "char.nav.employment"}}</a></li>
      <li><a href="#ch-sht-standings" data-toggle="pill">{{i18n "char.nav.standings"}}</a></li>

      <li class="pull-right">
        <a id="ch-refresh">
          <i class="icon ion-refresh"></i>
          <span class="hidden-xs"> {{i18n "nav.refresh"}}</span>
        </a>
      </li>
    {{/contentFor}}

    <!-- Page Content -->
    <div id="char-sheet">
      <div class="alert alert-danger hidden"></div>

      <div class="tile tile-default tile-has-icon main-tile">

        <img alt="Character Portrait" src="{{portrait 256 "Character"}}">
        <div>
          <h1 class="char-name h1">{{name}}</h1>
          <p class="char-detail lead">{{corp.name}}</p>
          <hr>
          <p class="char-detail">{{millionize balance 2}} ISK</p>
          <p class="char-detail">{{millionize skillPoints 2}} SP</p>

        </div>
      </div>

      <div class="tab-content">
        <div id="ch-sht-basic" class="tab-pane active fade in">
          <h2 class="text-muted text-light">{{i18n "char.basic.basic-info"}}</h2>
          <ul class="tile-list">
            <!-- Character Birthday -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/svg/general/egg.svg">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.birthday"}}</div>
                  <div class="prop-value no-margin text-nowrap">{{dob}}</div>
                </div>
              </div>
            </li>
            <!-- Character Gender -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/svg/general/gender-{{lower gender}}.svg">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.gender"}}</div>
                  <div class="prop-value no-margin text-nowrap">{{gender}}</div>
                </div>
              </div>
            </li>
            <!-- Character Race -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/svg/entities/faction-{{lower race}}.svg">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.race"}}</div>
                  <div class="prop-value no-margin text-nowrap">{{race}}</div>
                </div>
              </div>
            </li>
            <!-- Character Bloodline -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/svg/entities/bloodline-{{lower bloodLine}}.svg">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.bloodline"}}</div>
                  <div class="prop-value no-margin text-nowrap">{{bloodLine}}</div>
                </div>
              </div>
            </li>
            <!-- Character Ancestry -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/svg/entities/faction-concord.svg">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.ancestry"}}</div>
                  <div class="prop-value no-margin text-nowrap">{{ancestry}}</div>
                </div>
              </div>
            </li>
            <!-- Character Clone -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/svg/general/clone.svg">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.clone"}}</div>
                  <div class="prop-value no-margin text-nowrap">
                    <span class="label label-{{cloneTagStyle}} label-xs">{{cloneUtilization}}</span>
                    {{millionize clone/skillPoints}}
                  </div>
                </div>
              </div>
            </li>
            <!-- Character Location -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/svg/general/location.svg">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.location"}}</div>
                  <div class="prop-value no-margin text-nowrap">{{location}}</div>
                </div>
              </div>
            </li>
            <!-- Character Ship -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/svg/ship-brackets/ship-titan.svg">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.current-ship"}}</div>
                  <div class="prop-value no-margin text-nowrap"><span class="label label-primary label-xs">{{ship.type.name}}</span> {{ship.name}}</div>
                </div>
              </div>
            </li>
          </ul>
          <h2 class="text-muted text-light">{{i18n "char.basic.attributes"}}</h2>
          <ul class="tile-list">
            <!-- Perception -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/icons/attribute/perception-128.png">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.perception"}}</div>
                  <div class="prop-value no-margin text-nowrap h3">
                    {{../attributes.perception.value}}
                    {{#if ../attributes.perception.bonus}}
                      <span class="text-success-b">+ {{../attributes.perception.bonus}}</span>
                    {{/if}}
                  </div>
                </div>
              </div>
            </li>
            <!-- Memoty -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/icons/attribute/memory-128.png">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.memory"}}</div>
                  <div class="prop-value no-margin text-nowrap h3">
                    {{../attributes.memory.value}}
                    {{#if ../attributes.memory.bonus}}
                      <span class="text-success-b">+ {{../attributes.memory.bonus}}</span>
                    {{/if}}
                  </div>
                </div>
              </div>
            </li>
            <!-- Willpower -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/icons/attribute/willpower-128.png">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.willpower"}}</div>
                  <div class="prop-value no-margin text-nowrap h3">
                    {{../attributes.willpower.value}}
                    {{#if ../attributes.willpower.bonus}}
                      <span class="text-success-b">+ {{../attributes.willpower.bonus}}</span>
                    {{/if}}
                  </div>
                </div>
              </div>
            </li>
            <!-- Intelligence -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/icons/attribute/intelligence-128.png">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.intelligence"}}</div>
                  <div class="prop-value no-margin text-nowrap h3">
                    {{../attributes.intelligence.value}}
                    {{#if ../attributes.intelligence.bonus}}
                      <span class="text-success-b">+ {{../attributes.intelligence.bonus}}</span>
                    {{/if}}
                  </div>
                </div>
              </div>
            </li>
            <!-- Charisma -->
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div>
                <img src="/icons/attribute/charisma-128.png">
                <div>
                  <div class="prop-name no-margin text-nowrap text-muted small">{{i18n "char.basic.charisma"}}</div>
                  <div class="prop-value no-margin text-nowrap h3">
                    {{../attributes.charisma.value}}
                    {{#if ../attributes.charisma.bonus}}
                      <span class="text-success-b">+ {{../attributes.charisma.bonus}}</span>
                    {{/if}}
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div id="ch-sht-employment" class="tab-pane fade">
          <h2 class="text-muted text-light">{{i18n "char.employment.employment-history"}}</h2>
          <ul class="tile-list">
            {{#each employmentHistory}}
              <li class="{{standingStyle}} has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div>
                  {{#with corp}}
                    <img alt="portrait" src="{{portrait 64 "Corporation"}}">
                  {{/with}}
                  <div>
                    <div class="employer-name no-margin text-nowrap">{{corp.name}}</div>
                    <div class="employer-time small no-margin text-muted">
                      joined {{timeInCorp.day}} days ago
                    </div>
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
        <div id="ch-sht-standings" class="tab-pane fade">
          <h2 class="text-muted text-light">{{i18n "char.standings.factions"}}</h2>
          <ul class="tile-list">
            <!-- Agent Entry -->
            {{#each factionStandings}}
              <li class="{{standingStyle}} has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div>
                  <img alt="portrait" src="{{portrait 64 "Alliance"}}">
                  <div>
                    <div class="standing-name no-margin text-nowrap">{{name}}</div>
                    <div class="standing-value h4 no-margin accented">{{standing}}</div>
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
          <h2 class="text-muted text-light">{{i18n "char.standings.corps"}}</h2>
          <ul class="tile-list">
            <!-- Agent Entry -->
            {{#each corpStandings}}
              <li class="{{standingStyle}} has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div>
                  <img alt="portrait" src="{{portrait 64 "Corporation"}}">
                  <div>
                    <div class="standing-name no-margin text-nowrap">{{name}}</div>
                    <div class="standing-value h4 no-margin accented">{{standing}}</div>
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
          <h2 class="text-muted text-light">{{i18n "char.standings.agents"}}</h2>
          <ul class="tile-list">
            <!-- Agent Entry -->
            {{#each agentStandings}}
              <li class="{{standingStyle}} has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div>
                  <img alt="portrait" src="{{portrait 64 "Character"}}">
                  <div>
                    <div class="standing-name no-margin text-nowrap">{{name}}</div>
                    <div class="standing-value h4 no-margin accented">{{standing}}</div>
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  {{/Layout}}
</template>
