<!-- CH-SKL: Character Skills -->
<template name="char-skills">

  {{#contentFor "nav-menu"}}
    {{> ch_nav}}
  {{/contentFor}}

  {{#Layout template="app-view" data=.}}
    <!-- Page Header -->
    {{#contentFor "view-header"}}
      <!-- Collapsed link on small screen devices -->
      <li class="dropdown visible-xs active">
        <a class="dropdown-toggle" data-toggle="dropdown">
          View <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li class="active">
            <a href="#ch-skl-queue" role="tab" data-toggle="pill">Skill Queue <span class="badge">{{skillQueue.length}}</span></a>
          </li>
          <li><a href="#ch-skl-my" role="tab" data-toggle="pill">My Skills</a></li>
          <li><a href="#ch-skl-cert" role="tab" data-toggle="pill">Certificates</a></li>
          <li><a href="#ch-skl-plans" role="tab" data-toggle="pill">Skill Plans</a></li>
        </ul>
      </li>

      <li class="active hidden-xs">
        <a href="#ch-skl-queue" role="tab" data-toggle="pill">Skill Queue <span class="badge">{{skillQueue.length}}</span></a>
      </li>
      <li class="hidden-xs"><a href="#ch-skl-my" role="tab" data-toggle="pill">My Skills</a></li>
      <li class="hidden-xs"><a href="#ch-skl-cert" role="tab" data-toggle="pill">Certificates</a></li>
      <li class="hidden-xs"><a href="#ch-skl-plans" role="tab" data-toggle="pill">Skill Plans</a></li>

      <li class="pull-right">
        <a id="ch-skl-refresh">
          <i class="icon ion-refresh"></i>
          <span class="hidden-xs"> Refresh</span>
        </a>
      </li>
    {{/contentFor}}

    <!-- Page Content -->
    <div id="char-skills" class="tab-content">
      <div id="ch-skl-queue" class="tab-pane fade in active panel-group">
        {{> [char-skills-queue] }}
      </div>
      <div id="ch-skl-my" class="tab-pane fade panel-group">
        {{> [char-skills-my] }}
      </div>
      <div id="ch-skl-cert" class="tab-pane fade panel-group">
        {{> [char-skills-certificates] }}
      </div>
      <div id="ch-skl-plans" class="tab-pane fade">
        {{> [char-skills-plans] }}
      </div>
    </div>
  {{/Layout}}
</template>

<!-- Tab pages -->
<template name="char-skills-queue">
  <h2 class="text-muted text-light">Skill Queue</h2>
    {{#if skillQueue.length}}
      <ul class="tile-list">
        {{#each skillQueue}}
          {{#with skillQueueItem ..}}
            <li class="has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="hoverable">
                <img class="pull-left" src="{{skillIcon}}">
                <div>
                  <div class="caption bold text-nowrap"><a>{{skillInfo.name}} ({{skillInfo.rank}}x)</a></div>
                  <div class="caption small text-muted text-nowrap">{{timespan remainingTime}} ({{sph ../.. skillInfo}} SP/h)</div>
                </div>
                {{> skillLevelB ./indicator}}
              </div>
            </li>

          <!--<a class="list-group-item container-fluid has-icon">
            <img class="pull-left" src="{{skillIcon}}">
            <div>
              <div class="no-left-padding col-xs-8 col-sm-10"><a>{{skillInfo.name}} ({{skillInfo.rank}}x)</a></div>
              <div class="col-xs-4 col-sm-2">{{> skillLevel ./indicator}}</div>
            </div>
            <div>
              <div class="no-left-padding text-nowrap small text-muted col-xs-7 col-sm-9">SP: {{sp skillInfo.rank queued.skill.level}} ({{sph ../.. skillInfo}} SP/h)</div>
              <div class="text-nowrap small text-right text-muted  col-xs-5 col-sm-3">{{timespan remainingTime}}</div>
            </div>
          </a>-->


          {{/with}}
        {{/each}}
      </ul>
    {{else}}
      {{#placeholder panel="panel panel-default" icon="ion-alert-circled text-danger"}}
        <span class="text-danger">Skill queue is empty!</span>
      {{/placeholder}}
    {{/if}}
  <h2 class="text-muted text-light">Active Skill Plan</h2>
  <div class="panel panel-default">
    {{> wip}}
  </div>
</template>

<template name="char-skills-my">
  {{#each skillCategories}}
    <div class="skill-cat-head collapsed" data-toggle="collapse" href="#{{tag}}">
      <h4 class="panel-title text-nowrap"><i class="icon ion-arrow-right-b"></i>  {{name}}
        <small>({{millionize skillPoints}} SP)</small>
      </h4>
    </div>
    <div id="{{tag}}" class="skill-cat-body panel-collapse collapse">
      {{#if skills}}
        <ul class="tile-list">
          {{#each skills}}
            <li class="{{skillStyle}} has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="hoverable">
                <img class="pull-left" src="{{skillIcon}}">
                <div>
                  <div class="caption bold text-nowrap"><a>{{name}} ({{rank}}x)</a></div>
                  <div class="caption small text-muted text-nowrap">{{sp rank level}} SP</div>
                </div>
                {{> skillLevelB}}
              </div>
            </li>
          {{/each}}
        </ul>
      {{else}}

      {{/if}}
    </div>
  {{/each}}
</template>

<template name="char-skills-certificates">
  {{#each certGroups}}
    <div class="skill-cat-head collapsed" data-toggle="collapse" href="#cert{{tag}}">
      <h4 class="panel-title text-nowrap"><i class="icon ion-arrow-right-b"></i>  {{name}}</h4>
    </div>
    <div id="cert{{tag}}" class="panel-collapse collapse">

      <ul class="tile-list">
        {{#each certificates}}
          <li class="{{certStyle}} has-icon col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="hoverable">
              <img alt="level-icon" src="/svg/skills/cert-{{level}}.svg">
              <div>
                <div class="caption bold text-nowrap"><a>{{name}}</a></div>
                <div class="caption small text-muted text-nowrap">work in progress...</div>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</template>

<template name="char-skills-plans">
  {{> wip panel="panel panel-info"}}
</template>
