<!-- ADMIN: Administrator Panel -->
<template name="admin">
  <div class="container">
    {{#if currentUser.isAdmin}}
      <!-- Page Heading -->
      <div class="page-header">
        <ul class="nav nav-pills" role="tablist">
          <!-- Back button -->
          <li class="pill-back"><a href="{{pathFor "home"}}"><i class="icon ion-ios7-arrow-back"></i> Back</a></li>

          <!-- Collapsed link on small screen devices -->
          <li class="dropdown visible-xs active">
            <a class="dropdown-toggle" data-toggle="dropdown">
              View <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li class="active visible-xs">
                <a href="#admin-stats" role="tab" data-toggle="pill">Server stats</a>
              </li>
              <li class="visible-xs"><a href="#admin-static" role="tab" data-toggle="pill">Static data</a></li>
              <li class="visible-xs"><a href="#admin-users" role="tab" data-toggle="pill">User management</a></li>
            </ul>
          </li>

          <!-- Expanded link on bigger devices -->
          <li class="hidden-xs active">
            <a href="#admin-stats" role="tab" data-toggle="pill">Server stats</a>
          </li>
          <li class="hidden-xs"><a href="#admin-static" role="tab" data-toggle="pill">Static data</a></li>
          <li class="hidden-xs"><a href="#admin-users" role="tab" data-toggle="pill">User management</a></li>

          <!-- Refresh button -->
          <li class="pull-right"><a id="admin-refresh">
            <i class="icon ion-refresh"></i>
            <span class="hidden-xs"> Refresh</span></a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div id="admin-stats" class="tab-pane fade in active">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">User statistics</h4>
            </div>
            {{> wip}}
          </div>
        </div>
        <div id="admin-static" class="tab-pane fade">
          {{> [admin-static]}}
        </div>
        <div id="admin-users" class="tab-pane fade">
          {{> wip panel="panel panel-info"}}
        </div>
      </div>
    {{else}}
      <div class="page-header">
        <ul class="nav nav-pills" role="tablist">
          <li class="pill-back kern-link" href="/"><a><i class="icon ion-ios7-arrow-back"></i> Back</a></li>
        </ul>
      </div>
      {{# placeholder icon="ion-ios7-locked-outline text-danger" panel="panel panel-danger"}}
        Oops! Staff only, sorry. <hr>
        <p>You can always <a href="https://github.com/jluchiji/veldspar/issues">file a bug report.</a></p>
      {{/placeholder}}
    {{/if}}
  </div>
</template>

<!-- AM-ST: Updating Static Data -->
<template name="admin-static">
  <div class="container-fluid">
    <div class="col-xs-12 col-md-4">
       <div class="panel panel-info">
         <div class="panel-heading">
           <h4 class="panel-title">Static Data Information</h4>
         </div>
         <div class="list-group prop-list">
           <li class="list-group-item">
             <div class="text-muted small">Version</div>
             <div class="">Hyperion 1.0</div>
           </li>
           <li class="list-group-item">
             <div class="text-muted small">Last Update</div>
             <div class="">2014/08/31</div>
           </li>
         </div>
       </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="panel panel-info">
         <div class="panel-heading">
           <div class="row">
             <h4 class="panel-title col-xs-8">Update static data</h4>
             <button class="btn btn-xs btn-danger pull-right">Update All</button>
           </div>
         </div>
         <ul id="am-st-cat" class="list-group">
           <li class="list-group-item">
             <a data-toggle="collapse" data-parent="#am-st-cat" href="#am-st-skills">Update Skills</a>
             <div id="am-st-skills" class="panel-collapse collapse in">
               <p class="text-muted small">Skill tree updates are pulled directly from the EVE Online API.</p>
             </div>
           </li>
           <li class="list-group-item">
             <a data-toggle="collapse" data-parent="#am-st-cat" href="#am-st-cert">Update Certificates</a>
             <div id="am-st-cert" class="panel-collapse collapse">
               {{> wip}}
             </div>
           </li>
         </ul>
       </div>
    </div>
  </div>
</template>
