<!-- Character Navigation -->
<template name="ch_nav">
  {{#if .}}
    <li class="hidden-sm">
      <a href="{{pathFor "char-sheet"}}">
        <b>{{name}}</b>
      </a>
    </li>
    <li class="hidden-sm">
      <a href="{{pathFor "char-skills"}}">
        {{i18n "nav.skills"}}
      </a>
    </li>
    <li class="hidden-sm"><a>{{i18n "nav.combat"}}</a></li>
    <li class="hidden-sm"><a>{{i18n "nav.social"}}</a></li>
    <li class="hidden-sm"><a>{{i18n "nav.finance"}}</a></li>
    <li class="hidden-sm"><a>{{i18n "nav.industry"}}</a></li>
    <li class="visible-sm dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown"><b>{{name}}</b> <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a>{{i18n "nav.char-sheet"}}</a></li>
        <li><a>{{i18n "nav.skills"}}</a></li>
        <li><a>{{i18n "nav.combat"}}</a></li>
        <li><a>{{i18n "nav.social"}}</a></li>
        <li><a>{{i18n "nav.finance"}}</a></li>
        <li><a>{{i18n "nav.industry"}}</a></li>
      </ul>
    </li>
  {{/if}}
</template>
