<template name="header">
  <header>
    {{#if currentUser}}
      {{#if currentCharacter}}
      <section class="char">
        {{#with currentCharacter}}
        <span class="char-name">{{name}}</span>
        <span class="corp-name">{{corp.name}}</span>
        <div class="portrait" style="background-image: url({{charPortraitUri 64}}), url(/character.jpg);"></div>
        {{/with}}
      </section>
      {{/if}}
    <section class="logo">
      <span class="accented">Veld</span>spar
    </section>
    <nav>
      <ul class="navbar">
        <li id="navHome"><i class="icon ion-ios7-home"></i></li>
        <li id="navAdmin"><i class="icon ion-nuclear"></i></li>
        <li id="navDebug"><i class="icon ion-bug"></i></li>
        <li id="navLogout"><i class="icon ion-log-out"></i></li>
      </ul>
    </nav>
    {{/if}}
  </header>
</template>