<head>
  <title>Veldspar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body></body>

<!-- RT: Root Template -->
<template name="root">
  <!--Navbar -->
  {{> rt_navbar}}

  <!-- View -->
  {{#if session "app.error"}}
    {{> error}}
  {{else}}
    {{#if currentUser}}
      {{> yield}}
    {{else}}
      {{> login}}
    {{/if}}
  {{/if}}

  <!-- Modal View -->
  <div id="rt-modal-view" class="modal fade">
    {{> modal}}
  </div>
</template>

<!-- RT: Navbar -->
<template name="rt_navbar">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Mobile version -->
      <div class="navbar-header">
        {{#if currentUser}}
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#rt-navbar-content">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{/if}}
        <a href="{{pathFor "home"}}" class="navbar-brand text-light">
          <span class="text-primary"><i class="icon ion-planet"></i>Veld</span>spar
        </a>
      </div>

      <!-- Contents of the navbar -->
      {{#if currentUser}}
      <div class="collapse navbar-collapse" id="rt-navbar-content">
        <ul id="rt-nav-dynamic" class="nav navbar-nav navbar-left">
          {{> yield "nav-menu"}}
        </ul>
        <ul id="rt-nav-right" class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{userEmail}} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation" class="dropdown-header">{{i18n "nav.dropdown.options"}}</li>
                  <li><a href="#">{{i18n "nav.dropdown.preferences"}}</a></li>
                  <li><a href="#">{{i18n "nav.dropdown.change-password"}}</a></li>
                  <li class="divider"></li>
                  {{#if currentUser.isAdmin}}
                    <li role="presentation" class="dropdown-header">{{i18n "nav.dropdown.admin-tools"}}</li>
                    <li><a href="{{pathFor "admin"}}">{{i18n "nav.dropdown.admin-panel"}}</a></li>
                    <li id="rt-nav-drop-cache"><a class="text-danger">Drop cache timers</a></li>
                    <li class="divider"></li>
                  {{/if}}
                  <li id="rt-nav-logout"><a>{{i18n "nav.dropdown.logout"}}</a></li>
                </ul>
              </li>
            </ul>
          {{/if}}
        </ul>
      </div>
      {{/if}}
    </div>
  </nav>
</template>

<!-- MD: Modal Dialog -->
<template name="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        {{> yield "title"}}
      </div>
      <div class="modal-body">{{> yield}}</div>
      <div class="modal-footer">{{> yield "footer"}}</div>
    </div>
  </div>
</template>
