<head>
  <title>Veldspar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body></body>

<!-- RT: Root Template -->
<template name="root">
  <!--Navbar -->
  {{> rt_navbar}}

  <!-- View -->
  {{#if currentUser}}
    {{> yield}}
  {{else}}
    {{> login}}
  {{/if}}

  <!-- Modal View -->
  {{> yield "modal"}}
</template>

<!-- RT: Navbar -->
<template name="rt_navbar">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Mobile version -->
      <div class="navbar-header">
        {{#if currentUser}}
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#rt-navbar-content">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{/if}}
        <a kern-href="/" class="kern-link navbar-brand text-light">
          <span class="text-primary"><i class="icon ion-planet"></i>Veld</span>spar
        </a>
      </div>

      <!-- Contents of the navbar -->
      {{#if currentUser}}
      <div class="collapse navbar-collapse" id="rt-navbar-content">
        <ul id="rt-nav-dynamic" class="nav navbar-nav navbar-left">
          {{> yield "nav-menu"}}
        </ul>
        <ul id="rt-nav-right" class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{userEmail}} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation" class="dropdown-header">Options</li>
                  <li><a href="#">Preferences...</a></li>
                  <li><a href="#">Change password</a></li>
                  <li class="divider"></li>
                  {{#if currentUser.isAdmin}}
                    <li role="presentation" class="dropdown-header">Administrator Tools</li>
                    <li class="kern-link" kern-href="/admin"><a>Administrator panel</a></li>
                    <li class="divider"></li>
                  {{/if}}
                  <li id="rt-nav-logout"><a>Log Out</a></li>
                </ul>
              </li>
            </ul>
          {{/if}}
        </ul>
      </div>
      {{/if}}
    </div>
  </nav>
</template>

<!-- MD: Modal Dialog -->
<template name="modal">
  <div id="{{id}}" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          {{> yield "title"}}
        </div>
        <div class="modal-body">{{> yield}}</div>
        <div class="modal-footer">{{> yield "footer"}}</div>
      </div>
    </div>
  </div>
</template>

<!-- Misc Templates -->
<template name="notify">
  <div class="{{panel}}">
    <p class="text-center text-muted"><i class="icon-lg icon {{#if icon}}{{icon}}{{else}}ion-planet{{/if}}"></i></p>
    <p class="text-center lead text-muted">{{> UI.contentBlock}}</p>
  </div>
</template>

<template name="wip">
  {{# notify panel=panel icon="ion-code-working"}}
    This section is still under development.
  {{/notify}}
</template>
