<template name="login">
  <div id="login-view" class="view modal-view">
    <p class="motd"><span class="veld">Veld</span>spar — EVE Online from anywhere!</p>
    <div id="login-box">   
      <div class="dialog-box dialog-box-err" id="login-err">
          Capsuleer, you do have an email don't you?
        </div>
      <div id="login-wrapper">
        <input class="textbox" id="login-username" placeholder="email" type="email" />
        <input class="textbox" id="login-password" placeholder="password" type="password" />
        <a id="login-forgot" href="">Forgot your password?</a>
      </div>
      <input class="button" id="login-submit" type="button" value="Log In" />
      <input class="button" id="login-signup" type="button" value="Sign Up" />
    </div>
    <div id="footer">
      Powered by <a href="https://github.com/jluchiji/veldspar">Veldspar 1.0</a>
       Copyright © 2014 Denis Luchkin-Zhou
    </div>
  </div>
</template>