<template name="login">
  <div id="login" class="container-fluid">
    <!-- Login Form -->
    <div id="li-login-form" role="form">
      <header>
        <h1 class="text-light"><i class="icon ion-planet"></i><span class="text-primary">Veld</span>spar</h1>
        <p class="lead">Your window into the <span class="text-primary">new eden.</span></p>
      </header>
      <div id="li-email-group" class="form-group">
        <label for="li-email" class="sr-only">Email</label>
        <input id="li-email" type="email" class="input-lg first form-control" placeholder="Email" required autofocus />
        <i class="icon ion-alert form-control-feedback"></i>
      </div>
      <div id="li-password-group" class="form-group">
        <label for="li-password" class="sr-only">Password</label>
        <input id="li-password" type="password" class="input-lg last form-control" placeholder="Password" required />
        <i class="icon ion-alert form-control-feedback"></i>
      </div>
      <button id="li-forgot-password" class="btn btn-link btn-block" type="button">Forgot your password?</button>
      <hr>
      <button id="li-login" class="btn btn-primary btn-lg btn-block" type="submit">
        {{#if session "login.loading"}}<i class="icon ion-loading-c"></i>
        {{else}}Log In{{/if}}
      </button>
      <button id="li-no-account" class="btn btn-link btn-block" type="button">Don't have an account?</button>
    </div>
  </div>
</template>

<template name="signup">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h1 class="modal-title"><span class="text-primary">Sign</span>up</h1>
  </div>
  <div class="modal-body">
    <div id="su-signup-form" role="form">
      <p class="text-center lead">Welcome to the
        <span class="text-primary">Veld</span>spar!
        We have been waining for you.
      </p>
      {{#if session "signup.error"}}
        <div id="su-error-box" class="alert alert-danger">
          {{session "signup.error"}}
        </div>
      {{/if}}
      <div id="su-email-group" class="form-group">
        <label for="su-email" class="sr-only">Email</label>
        <input id="su-email" type="email" class="input-lg first last form-control" placeholder="Email" required autofocus />
        <i class="icon ion-alert form-control-feedback"></i>
      </div>
      <p class="text-center">Password strength indicator here.</p>
      <div id="su-password-group" class="form-group">
        <label for="su-password" class="sr-only">Password</label>
        <input id="su-password" type="password" class="input-lg first form-control" placeholder="Password" required />
        <i class="icon ion-alert form-control-feedback"></i>
      </div>
      <div id="su-verify-group" class="form-group">
        <label for="su-verify" class="sr-only">Verify Password</label>
        <input id="su-verify" type="password" class="input-lg last form-control" placeholder="Verify password" required />
        <i class="icon ion-alert form-control-feedback"></i>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button id="su-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button id="su-submit" type="submit" class="btn btn-primary">Submit</button>
  </div>
</template>
