<!-- 
# Veldspar EVE Online API Client
# views/login.html - Login View
# Copyright © Denis Luchkin-Zhou
-->
<template name="login">
  <div id="login" class="view">
    <div class="left">
      <div class="step">
        <h1>Sign Up</h1>
        <p class="motd">Welcome to the <span class="accented">Veld</span>spar!</p>
        <div class="ui-state-error error-box"></div>
        <div class="ui-textbox-group">
          <input id="email" type="text" class="ui-textbox" placeholder="email">
        </div>
        <div class="ui-textbox-group">
          <input id="pwd1" type="password" class="ui-textbox" placeholder="password">
          <input id="pwd2" type="password" class="ui-textbox" placeholder="verify password">
        </div>
        <div class="captcha"></div>
        <div class="button-box">
          <input type="button" class="ui-button cancel" value="Cancel">
          <input type="button" class="ui-button ui-button-submit" value="Submit">
        </div>
      </div>
      <div class="step" id="loading">
        {{#if showLoading}}
        <div id="wait-wrapper">
          <i id="loading-indicator" class="icon ion-loading-c"></i>
          <h1>loading</h1>
          <p>We need to take care of some red tape before you can become a proud owner of a <b><span class="accented">Veld</span>spar</b> account. This should only take a few seconds.</p>
        </div>
        {{/if}}
      </div>
    </div>
    <div class="main">
      <div class="content">
        <h1><span class="accented">Veld</span>spar</h1>
        <p class="motd">EVE Online from anywhere!</p>
        <div id="login-box">
          <div class="ui-state-error error-box">
            Capsuleer, you do have an email don't you?
          </div>
          <div class="ui-textbox-group" id="shaky">
            <input class="ui-textbox" id="uname" placeholder="email" type="email" />
            <input class="ui-textbox" id="pwd" placeholder="password" type="password" />
            <a id="forgot" href="#">Forgot your password?</a>
          </div>
          <input class="ui-button" id="signup" type="button" value="Sign Up" />
          <input class="ui-button ui-button-submit" id="submit" type="button" value="Log In" />
        </div>
        <div id="footer">
          Powered by <a href="https://github.com/jluchiji/veldspar">Veldspar 1.0</a>
          Copyright © 2014 Denis Luchkin-Zhou
        </div>
      </div>
    </div>
  </div>
</template>