<template name="signup">
  <div class="view sidebar" id="signup">
    <div class="content">
      <h1>Sign Up</h1>
      
      <div class="ui-textbox-group">
        <input id="email" type="text" class="ui-textbox" placeholder="email">
      </div>
      <div class="ui-textbox-group">
        <input id="pwd1" type="password" class="ui-textbox" placeholder="password">
        <input id="pwd2" type="password" class="ui-textbox" placeholder="verify password">
      </div>
      <div class="captcha"></div>
      <div class="button-box">
        <input type="button" class="ui-button cancel" value="Cancel">
        <input type="button" class="ui-button ui-button-submit" value="Submit">
      </div>
    </div>
  </div>
</template>