<!-- UR: User View -->
<template name="user">
  <div id="user" class="container">
    <div class="page-header"><h1>Characters</h1></div>
    <section class="row char-list">
      {{#if characters.count}}
        {{#each characters}}
            <div class="char-item col-sm-4 col-md-3 col-lg-3">
              <div class="thumbnail">
                <img data-src="holder.js/256x256" alt="..." src="{{portrait 256}}">
                <div class="char-info caption">
                  <h3 class="text-nowrap">{{name}}</h3>
                  <p class="text-nowrap">{{corp.name}}</p>
                </div>
                <hr>
                <div class="skill-info caption text-center">
                  <h5 class="text-nowrap">Advanced Spaceship Command V</h5>
                  <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped"
                      role="progressbar" aria-valuenow="2" aria-valuemin="0"
                      aria-valuemax="100" style="width: 75%;"></div>
                    <p class="skill-progress text-nowrap">22d 13h 59m 20s (30%)</p>
                  </div>
                </div>
                <hr>
                <div class="actions caption text-center">
                  <div class="btn-group btn-group-sm">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Action
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Delete</a></li>
                        <li><a href="#">Share</a></li>
                      </ul>
                    </div>
                  <button type="button" class="btn btn-sm btn-primary">View</button>
                </div>
            </div>
            </div>
        {{/each}}
      {{else}}
        <p class="lead text-center">None of your characters are known to us.</p>
      {{/if}}
    </section>
    <div class="page-header"><h1>Corporations</h1></div>
    <section class="row char-list">
      {{#if corporations.count}}
        {{#each corporations}}
            <div class="char-item col-sm-4 col-md-3 col-lg-3">
              <a class="thumbnail">
                <img data-src="holder.js/256x256" alt="..." src="{{portrait 256}}">
                <div class="caption">
                  <h3>{{name}}</h3>
                  <p>{{corp.name}}</p>
                </div>
              </a>
            </div>
        {{/each}}
      {{else}}
        <p class="lead text-center">None of your corporations are known to us.</p>
      {{/if}}
    </section>
    <hr>
    <footer>
      <small class="pull-left">Copyright © 2014 Denis Luchkin-Zhou</small>
      <small class="pull-right">Powered by Veldspar/1.0</small>
    </footer>
  </div>
</template>
