<!-- UR: User View -->
<template name="user">
  <div id="user" class="user-html">
    <div class="content">

      <!-- Character List -->
      <section id="ur-characters">
        <!-- Section Head -->
        <div class="section-head">
          <h1>Characters</h1>
          <small>
            {{#if mode "delete"}}
              <a id="ur-confirm-delete-char" class="button danger" href="#"><i class="icon ion-nuclear"></i> confirm</a>
              <a id="ur-cancel-delete-char" class="button" href="#"><i class="icon ion-close-circled"></i> cancel</a>
            {{else}}
              <a id="ur-add-char" class="button" href="#"><i class="icon ion-plus-circled"></i> add</a>
              {{#if characters.count}}<a id="ur-delete-char" class="button" href="#"><i class="icon ion-minus-circled"></i> delete</a>{{/if}}
            {{/if}}
          </small>
        </div>
        <!-- No Characters -->
        {{#if characterAlert}}
        <div class="alert alert-info">{{{characterAlert}}}</div>
        {{/if}}
        <!-- Character Grid -->
        <ul class="char-grid">
          {{#each characters}}
          <li>
            <div class="char-item">
              <!-- Character Portrait -->
              <div class="portrait" style="background-image: url({{portrait "Character" 256}}), url(/character.svg);"></div>
              <div class="info">
                <span class="primary">{{name}}</span>
                <span class="secondary">{{corp.name}}</span>
                <hr>
                <span class="skill"><a class="accent" href="showinfo:6632">Tactical Logistics Reconfiguration V</a></span>
                <span class="skill">22d 16h 15m 09s (28%)</span>
              </div>
              <div class="overlay {{overlayStyles}}">
                <!-- Overlay -->
                <div class="bg"></div>
                <!-- Icon -->
                <i class="icon {{iconStyles}}"></i>
              </div>
            </div>
          </li>
          {{/each}}
        </ul>
      </section>

      <!-- Corporation List -->
      <section id="ur-corporations">
        <!-- Section Head -->
        <div class="section-head">
          <h1>Corporations</h1><small>
            <a id="ur-add-corp" class="button" href="#"><i class="icon ion-plus-circled"></i> add</a>
            <a id="ur-delete-corp" class="button" href="#"><i class="icon ion-minus-circled"></i> delete</a>
          </small>
        </div>
        
        <div class="alert alert-info">Corporation management section is still under development.</div>
      </section>

    </div>
  </div>
</template>

<!-- AK: Add API Key -->
<template name="addKey">
  <aside id="add-key" class="user-html">
    {{#if apiKeyInfo}}
    <hgroup>
      <h1><span class="accent">Char</span>acters</h1>
    </hgroup>
    <p>Please select characters you do not want to add.</p>
    <ul class="char-list">
      {{#each apiKeyInfo.characters}}
      <li>
        <div class="char-item">
          <div class="portrait" style="background-image: url({{portrait "Character" 256}}), url(/character.svg);"></div>
          <div class="info">
            <span class="primary">{{name}}</span>
            <span class="secondary">{{corp.name}}</span>
          </div>
          <div class="overlay {{selectionStyles}}"></div>
          <div class="excluded {{selectionStyles}}">EXCLUDED</div>
        </div>
      </li>
      {{/each}}
    </ul>
    <div class="button-group">
      <button id="ak-cancel" class="btn btn-lg btn-default">Cancel</button>
      <button id="ak-add" class="btn btn-lg btn-primary">Add</button>
    </div>
    <p>
      This is a(n)
      <b class="accent">{{apiKeyInfo.type}}</b> key with an access mask of
      <b class="accent">{{apiKeyInfo.accessMask}}</b>. The API Key
      <b class="accent">{{expirationMsg}}</b>.
    </p>
    {{else}}
    <hgroup>
      <h1><span class="accent">Add</span>Key</h1>
      <h2>Your API Key goes here!</h2>
    </hgroup>
    <div id="ak-error-box" class="alert alert-danger"></div>
    <div class="textbox-group">
      <input type="text" class="textbox" id="ak-id" placeholder="key ID" />
      <input type="text" class="textbox" id="ak-vcode" placeholder="verification code" />
    </div>
    <div class="button-group">
      <button class="btn btn-lg btn-default" id="ak-cancel">Cancel</button>
      <button class="btn btn-lg btn-primary" id="ak-submit">
        {{#if loading}}
        <i class="icon ion-loading-a loading-indicator"></i>
        {{else}} Continue <i class="icon ion-ios7-arrow-forward"></i>
        {{/if}}
      </button>
    </div>
    <p>
      <b class="accent">API Key ID</b> and <b class="accent">Verification Code</b> are both parts of the customizable API key, which can be obtained at EVE Online's
      <a class="accented" href="http://support.eveonline.com">API Key Management</a> page.
    </p>
    <p>
      If you add an <b class="accented">API Key</b> that already exists on your account, its details will be updated. You may want to do this if you have regenerated the
      <b class="accent">Verification Code</b>.
    </p>
    {{/if}}
  </aside>
</template>