<!-- UR: User View -->
<template name="user">
  <div id="user" class="container">
    <!-- Tab Navigation -->
    <div id="ur-char-heading" class="page-header">
      <ul class="nav nav-pills" role="tablist">
        <li class="active"><a href="#ur-characters" role="tab" data-toggle="pill">{{i18n "user.chars"}} <span class="badge"></span></a></li>
        <li><a href="#ur-corporations" role="tab" data-toggle="pill">{{i18n "user.corps"}}</a></li>
        <li class="pull-right"><a id="ur-add-key"><i class="icon ion-plus"></i><span class="hidden-xs"> {{i18n "user.add-key"}}</span></a></li>
        <li class="pull-right"><a id="ur-refresh">
          <i class="icon ion-refresh"></i>
          <span class="hidden-xs"> {{i18n "nav.refresh"}}</span></a></li>
      </ul>
    </div>
    <!-- Tab Pages -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="ur-characters">
        <section class="row char-list">
          {{#if characters.count}}
            {{#each characters}}
              {{> ur_char_item}}
            {{/each}}
          {{else}}
            <p class="text-muted text-center"><i class="icon icon-lg ion-ios7-information-outline"></i></p>
            <p class="lead text-center">{{i18n "user.no-chars"}}</p>
          {{/if}}
        </section>
      </div>
      <div class="tab-pane fade" id="ur-corporations">
        {{> wip panel="panel panel-info" icon="ion-code-working"}}
      </div>
    </div>
  </div>
</template>

<!-- User View character list item -->
<template name="ur_char_item">
  <div class="char-item col-sm-4 col-md-3 col-lg-3">
    <div class="thumbnail">
      <img alt="portrait" src="{{portrait 512 "Character"}}">
      <div class="char-info caption">
        <h3 class="text-nowrap">{{name}}</h3>
        <p class="text-nowrap">{{corp.name}}</p>
      </div>
      <hr>
      <div class="skill-info caption text-center">
        <h5 class="text-nowrap">
          {{#if skillInTraining/skill/id}}
            {{#with skill skillInTraining/skill/id}}
              {{name}}
            {{/with}}
            {{romanize skillInTraining/skill/level}}
          {{else}}
            - - -
          {{/if}}
        </h5>
        <div class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar" style="width: {{percent}}%;"></div>
          {{#if skillInTraining.active}}
            <p class="skill-progress text-nowrap">{{timespan timeLeft}} ({{percent}}%)</p>
          {{else}}
            <p class="skill-progress text-nowrap text-danger">Skill queue inactive</p>
          {{/if}}
        </div>
      </div>
      <hr>
      <div class="actions caption text-right">
        <div class="btn-group">
          <a type="button" href="{{pathFor "char-sheet"}}" class="view-char btn btn-primary">{{i18n "user.view"}}</a>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li class="share-char"><a>{{i18n "user.share"}}</a></li>
            <li class="divider"></li>
            <li class="del-char"><a class="text-danger">{{i18n "user.delete"}}</a></li>
          </ul>
        </div>
      </div>
  </div>
  </div>
</template>

<!-- AK: Add API Key -->
<template name="add_key">
  {{#Layout template="modal"}}
    {{#contentFor "title"}}
      <h4 class="modal-title">Add <span class="text-primary">API</span> Key</h4>
    {{/contentFor}}

    {{#if session "add-key.keyInfo"}}
      <p class="lead text-center">Select the characters you wish to add!</p>
      {{#with session "add-key.keyInfo"}}
        {{#each characters}}
          <a class="ak-char-item thumbnail">
            <img class="pull-left" alt="portrait" src="{{portrait 72 "Character"}}">
            <i class="icon icon-md pull-right {{#if selected}}ion-ios7-checkmark-outline text-success{{else}}ion-ios7-circle-outline text-muted{{/if}}"></i>
            <div class="char-info caption">
              <h3 class="text-nowrap">{{name}}</h3>
              <p class="text-nowrap">{{corp.name}}</p>
            </div>
          </a>
        {{/each}}
      {{/with}}
    {{else}}
      <div id="ak-form" role="form">
        <p class="text-center lead">Introduce your characters to us!</p>

        <div id="ak-error" class="alert alert-danger hidden">
          {{#markdown}}{{session "add-key.error"}}{{/markdown}}
        </div>

        <div id="ak-id-group" class="form-group">
          <label for="ak-id" class="sr-only">Email</label>
          <input id="ak-id" type="text" class="input-lg first form-control" placeholder="Key ID" required autofocus />
          <i class="icon ion-alert form-control-feedback"></i>
        </div>
        <div id="ak-vcode-group" class="form-group">
          <label for="ak-vcode" class="sr-only">Password</label>
          <input id="ak-vcode" type="text" class="input-lg last form-control" placeholder="Verification Code" required />
          <i class="icon ion-alert form-control-feedback"></i>
        </div>
        <hr>
        <p>
          Both <b>Key ID</b> and <b>Verification Code</b> can be obtained from the <a href="https://community.eveonline.com/support/api-key/">API Key management page</a>.
        </p>
      </div>
    {{/if}}

    {{#contentFor "footer"}}
      <button id="ak-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <button id="ak-submit" type="submit" class="btn btn-primary btn-loader">
        <div class="st-normal">Continue <i class="icon ion-ios7-arrow-forward"></i></div>
        <div class="st-loader"><i class="icon ion-loading-c"></i></div>
      </button>
    {{/contentFor}}
  {{/Layout}}
</template>
