<!--
# Veldspar EVE Online API Client
# user-home.html - User Home View
# Copyright © Denis Luchkin-Zhou
-->
<!-- User Home Template -->
<template name="userHome">
  <div class="view" id="user-home">
    <div class="left">
      <div id="step-one" class="step">
        <h1>Add new</h1>
        <div class="ui-state-error error-box" id="error"></div>
        <div class="ui-textbox-group">
          <input class="ui-textbox" id="id" type="text" placeholder="API Key ID">
          <input class="ui-textbox" id="vcode" type="text" placeholder="Verification Code">
        </div>
        <div class="button-box">
          <input class="ui-button cancel" type="button" value="Cancel">
          <input class="ui-button ui-button-submit" id="next" type="button" value="Next">
        </div>
        <p>
          <b class="accented">API Key ID</b> and <b class="accented">Verification Code</b> are both parts of the customizable API key, which can be obtained at EVE Online's <a class="accented" href="http://support.eveonline.com">API Key Management</a> page.
        </p>
        <p>
          If you add an <b class="accented">API Key</b> that already exists on your account, its details will be updated. You may want to do this if you have regenerated the <b class="accented">Verification Code</b>.
        </p>
      </div>
      <div id="step-two" class="step">
        {{#if apiKeyInfo}}
        <h1>Characters</h1>
        <div class="char-list">
          {{#each keyCharacters}}
          <div class="box card">
            <div class="portrait" style="background-image: url({{charPortraitUri 64}})">
              <div>
                <i class="icon {{selIconClass}}"></i>
              </div>
            </div>
            <div class="name-wrapper">
              <span class="char-name">{{name}}</span>
              <span class="corp-name">{{corp.name}}</span>
              <spam class="corp-name">{{allianceName}}</spam>
            </div>
          </div>
          {{/each}}
        </div>
        <div class="button-box">
          <input class="ui-button cancel" type="button" value="Cancel">
          <input class="ui-button ui-button-submit" id="submit" type="button" value="Add">
        </div>
        <p>This is a(n) <b class="accented">{{apiKeyInfo.type}}</b> key with an access mask of <b class="accented">{{apiKeyInfo.accessMask}}</b>. The API Key <b class="accented">{{expirationMsg}}</b>.</p>
        {{else}} {{#if showLoading}}
        <div id="wait-wrapper">
          <i id="loading-indicator" class="icon ion-loading-c"></i>
          <h1>loading</h1>
          <p>We are contacting <span class="accented">CONCORD</span> to verify your capsuleer identity. We should hear back from them in just a few seconds.</p>
        </div>
        {{/if}} {{/if}}
      </div>
    </div>
    <div class="main">
      {{#if loading}}
      <!-- Loading Screen -->
      <div class="content">
        <div class="loading-wrapper">
          <i class="icon ion-loading-c"></i>
          <h1>loading</h1>
          <p>
            Pulling bits and pieces of data from the interstellar network. This should normally only take a few seconds, but in rare cases of <span class="accented">CONCORD</span> red tape, it can take a minute or so.
          </p>
        </div>
      </div>
      {{else}}
      <!-- Character/Corp List -->
      <div class="content">
        <!-- Character List -->
        <div class="section-head">
          <h1>Characters</h1>
          <div class="toolbox">
            <input type="button" class="delete ui-button-danger" value="Delete Selected Character(s)">
            <input type="button" class="edit ui-flat-button" value="Edit">
          </div>
        </div>
        <ul class="character-grid" id="characters">
          {{#each characters}}
            {{> userHomeCharCard}} 
          {{/each}}
          <div class="card new">
            <div class="portrait" title="Add New Character">
              <i class="icon ion-ios7-plus-outline"></i>
            </div>
            <div class="info">
              <span class="name">&nbsp;</span>
              <span>&nbsp;</span>
            </div>
          </div>
        </ul>
        <!-- Corporation Lists -->
        <div class="section-head">
          <h1>Corporations</h1>
          <div class="toolbox">
            <input type="button" class="delete ui-button-danger" value="Delete Selected Character(s)">
            <input type="button" class="edit ui-flat-button" value="Edit">
          </div>
        </div>
        <ul class="character-grid" id="corps">
          {{#each corporations}} {{> userHomeCharCard}} {{/each}}
          <div class="card new" title="Add New Corporation">
            <div class="portrait">
              <i class="icon ion-ios7-plus-outline"></i>
            </div>
            <div class="info">
              <span class="name">&nbsp;</span>
              <span>&nbsp;</span>
            </div>
          </div>
        </ul>
      </div>
      {{/if}}
    </div>
  </div>
</template>

<!-- Character 'Card' Template -->
<template name="userHomeCharCard">
  <li class="card">
    <!-- Character Portrait -->
    <div class="portrait" style="background-image: url({{charPortraitUri 256}}), url(/character.png);">
      {{#if editMode}}
      <!-- Edit/Delete -->
      <div class="ui-widget-overlay">
        <i class="icon {{selIconClass}}"></i>
      </div>
      {{else}} {{#if alert}}
      <!-- Alert/Error/Notification -->
      <div class="ui-state-error">
        <i class="icon ion-ios7-locked-outline"></i>
      </div>
      {{/if}} {{/if}}
    </div>
    <!-- Caption Text -->
    <div class="info">
      <div class="name">
        <span title="{{name}}">{{name}}</span>
      </div>
      <div class="skill">
        <span title="{{corp.name}}">{{corp.name}}</span>
      </div>
    </div>
  </li>
</template>