<template name="skillLevel">
  <div class="skill-level {{framestyle}}">
    <svg class="skill-level-svg" width="48" height="8" viewBox="0 0 48 8" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
      <rect class="frame" stroke-width="1" stroke="#818184" height="6.5" width="46.5" x="0.75" y="0.75" />
      <rect class="level {{styles 1}}" stroke-width="0" fill="#818184" width="8" height="4" x="2" y="2" />
      <rect class="level {{styles 2}}" stroke-width="0" fill="#818184" width="8" height="4" x="11" y="2" />
      <rect class="level {{styles 3}}" stroke-width="0" fill="#818184" width="8" height="4" x="20" y="2" />
      <rect class="level {{styles 4}}" stroke-width="0" fill="#818184" width="8" height="4" x="29" y="2" />
      <rect class="level {{styles 5}}" stroke-width="0" fill="#818184" width="8" height="4" x="38" y="2" />
    </svg>
  </div>
</template>

<template name="skillLevelB">
  <div class="skill-level-b">
    <div class="level {{styles 1}}"></div>
    <div class="level {{styles 2}}"></div>
    <div class="level {{styles 3}}"></div>
    <div class="level {{styles 4}}"></div>
    <div class="level {{styles 5}}"></div>
  </div>
</template>
